URxvt.perl-ext-common: "default, -searchable-scrollback"
URxvt.font: xft:monospace:size=12
URxvt*termName: rxvt-unicode-256color
URxvt.scrollBar : false
URxvt.background : #000000
URxvt.foreground : #DCDC80
URxvt.color0 : #000000
URxvt.color1 : #00aa7f
URxvt.color2 : #ff2a2a
URxvt.color3 : #d47fd4
URxvt.color4 : #d4d42a
URxvt.color5 : #7fd47f
URxvt.color6 : #2ad4d4
URxvt.color7 : #55d4aa
URxvt.color8 : #2a7faa
URxvt.color9 : #7fffaa
URxvt.color10 : #5555ff
URxvt.color11 : #d4aad4
URxvt.color12 : #007fff
URxvt.color13 : #55ff7f
URxvt.color14 : #aa7f55
URxvt.color15 : #2affaa
URxvt.color16 : #55552a
URxvt.color17 : #00557f
URxvt.color18 : #00552a
URxvt.color19 : #5500aa
URxvt.color20 : #2a00aa
URxvt.color21 : #d45500
URxvt.color22 : #7fffd4
URxvt.color23 : #2a5500
URxvt.color24 : #d400aa
URxvt.color25 : #7fffff
URxvt.color26 : #ff7f7f
URxvt.color27 : #d4ff00
URxvt.color28 : #ffff7f
URxvt.color29 : #d42ad4
URxvt.color30 : #7f007f
URxvt.color31 : #2a2a7f
URxvt.color32 : #2aaa55
URxvt.color33 : #2affff
URxvt.color34 : #55d4ff
URxvt.color35 : #d4002a
URxvt.color36 : #55ff2a
URxvt.color37 : #ffff2a
URxvt.color38 : #d4d47f
URxvt.color39 : #aaff2a
URxvt.color40 : #2aff55
URxvt.color41 : #2ad455
URxvt.color42 : #007fd4
URxvt.color43 : #7f0000
URxvt.color44 : #7f7f55
URxvt.color45 : #d4aa55
URxvt.color46 : #d400d4
URxvt.color47 : #ffd4d4
URxvt.color48 : #2a0055
URxvt.color49 : #55aaaa
URxvt.color50 : #5500d4
URxvt.color51 : #007faa
URxvt.color52 : #7fd4aa
URxvt.color53 : #00ff2a
URxvt.color54 : #ff002a
URxvt.color55 : #d47f2a
URxvt.color56 : #7f2a7f
URxvt.color57 : #557f7f
URxvt.color58 : #7f00aa
URxvt.color59 : #2a55aa
URxvt.color60 : #7f2a00
URxvt.color61 : #7f2aaa
URxvt.color62 : #aa55d4
URxvt.color63 : #aaaa7f
URxvt.color64 : #ff0000
URxvt.color65 : #2a002a
URxvt.color66 : #7f5555
URxvt.color67 : #55ff55
URxvt.color68 : #aaff00
URxvt.color69 : #00d47f
URxvt.color70 : #557f00
URxvt.color71 : #00002a
URxvt.color72 : #55ffff
URxvt.color73 : #7f2ad4
URxvt.color74 : #ff55d4
URxvt.color75 : #00d4aa
URxvt.color76 : #ffaad4
URxvt.color77 : #2a2a2a
URxvt.color78 : #ff2aaa
URxvt.color79 : #55002a
URxvt.color80 : #aa2a55
URxvt.color81 : #2aff00
URxvt.color82 : #ffaa7f
URxvt.color83 : #d4557f
URxvt.color84 : #7f7fd4
URxvt.color85 : #ff00d4
URxvt.color86 : #2a2ad4
URxvt.color87 : #d400ff
URxvt.color88 : #d4ff7f
URxvt.color89 : #d42a7f
URxvt.color90 : #d455aa
URxvt.color91 : #aa557f
URxvt.color92 : #d42aff
URxvt.color93 : #ff00aa
URxvt.color94 : #aa002a
URxvt.color95 : #55007f
URxvt.color96 : #ffd4ff
URxvt.color97 : #d4aaff
URxvt.color98 : #ff7fff
URxvt.color99 : #aa7f2a
URxvt.color100 : #2a557f
URxvt.color101 : #ffaaaa
URxvt.color102 : #2ad42a
URxvt.color103 : #aad47f
URxvt.color104 : #aa2aaa
URxvt.color105 : #aaffaa
URxvt.color106 : #aa552a
URxvt.color107 : #aad4ff
URxvt.color108 : #55d42a
URxvt.color109 : #552a55
URxvt.color110 : #7f7fff
URxvt.color111 : #ff2a55
URxvt.color112 : #d45555
URxvt.color113 : #d4aaaa
URxvt.color114 : #550000
URxvt.color115 : #00d455
URxvt.color116 : #7f7f7f
URxvt.color117 : #aa007f
URxvt.color118 : #7fd4d4
URxvt.color119 : #d40000
URxvt.color120 : #2a5555
URxvt.color121 : #ffaa00
URxvt.color122 : #2a7fd4
URxvt.color123 : #7faaff
URxvt.color124 : #2ad4ff
URxvt.color125 : #55d4d4
URxvt.color126 : #007f55
URxvt.color127 : #005500
URxvt.color128 : #000055
URxvt.color129 : #d42a2a
URxvt.color130 : #00ffd4
URxvt.color131 : #7faa00
URxvt.color132 : #2aaaff
URxvt.color133 : #002a55
URxvt.color134 : #ff7f55
URxvt.color135 : #aaaad4
URxvt.color136 : #002a00
URxvt.color137 : #55aa7f
URxvt.color138 : #aa2a7f
URxvt.color139 : #7fff00
URxvt.color140 : #2a7f2a
URxvt.color141 : #ffd4aa
URxvt.color142 : #552a2a
URxvt.color143 : #002aff
URxvt.color144 : #ff55ff
URxvt.color145 : #7f55aa
URxvt.color146 : #7fff55
URxvt.color147 : #ffaa2a
URxvt.color148 : #0000d4
URxvt.color149 : #55557f
URxvt.color150 : #ffd455
URxvt.color151 : #7f552a
URxvt.color152 : #2aaa00
URxvt.color153 : #aa2a00
URxvt.color154 : #7f2a2a
URxvt.color155 : #d4d455
URxvt.color156 : #7f0055
URxvt.color157 : #5555d4
URxvt.color158 : #d455ff
URxvt.color159 : #d4ffaa
URxvt.color160 : #ffff55
URxvt.color161 : #ffd42a
URxvt.color162 : #0055d4
URxvt.color163 : #aa7fff
URxvt.color164 : #00d400
URxvt.color165 : #aad400
URxvt.color166 : #00aad4
URxvt.color167 : #ff7f00
URxvt.color168 : #d47faa
URxvt.color169 : #aa2aff
URxvt.color170 : #ff2a00
URxvt.color171 : #00ff00
URxvt.color172 : #2a00ff
URxvt.color173 : #aa7faa
URxvt.color174 : #aa00ff
URxvt.color175 : #55d400
URxvt.color176 : #aaff7f
URxvt.color177 : #0000ff
URxvt.color178 : #ff2aff
URxvt.color179 : #7f55d4
URxvt.color180 : #d4d4ff
URxvt.color181 : #002a7f
URxvt.color182 : #ffffff
URxvt.color183 : #7fd42a
URxvt.color184 : #55aad4
URxvt.color185 : #ff5555
URxvt.color186 : #aa7fd4
URxvt.color187 : #0055aa
URxvt.color188 : #d42a55
URxvt.color189 : #557f55
URxvt.color190 : #00aa55
URxvt.color191 : #2a7f00
URxvt.color192 : #557fff
URxvt.color193 : #d4d4d4
URxvt.color194 : #00aaff
URxvt.color195 : #d47f00
URxvt.color196 : #007f00
URxvt.color197 : #2a00d4
URxvt.color198 : #d47f7f
URxvt.color199 : #aa00d4
URxvt.color200 : #ff7faa
URxvt.color201 : #557faa
URxvt.color202 : #552a00
URxvt.color203 : #7f5500
URxvt.color204 : #555555
URxvt.color205 : #55ffd4
URxvt.color206 : #aaffd4
URxvt.color207 : #552ad4
URxvt.color208 : #7fff2a
URxvt.color209 : #aa55aa
URxvt.color210 : #7f7f2a
URxvt.color211 : #aa5500
URxvt.color212 : #aad4aa
URxvt.color213 : #00ffaa
URxvt.color214 : #2aff7f
URxvt.color215 : #ff557f
URxvt.color216 : #7faa55
URxvt.color217 : #7f55ff
URxvt.color218 : #55aa2a
URxvt.color219 : #00ff7f
URxvt.color220 : #2a2a55
URxvt.color221 : #aaaa2a
URxvt.color222 : #00007f
URxvt.color223 : #d4ffff
URxvt.color224 : #7fd400
URxvt.color225 : #aad455
URxvt.color226 : #55d455
URxvt.color227 : #7faa7f
URxvt.color228 : #2aaaaa
URxvt.color229 : #2aaa2a
URxvt.color230 : #55aa00
URxvt.color231 : #552aaa
URxvt.color232 : #d4aa2a
URxvt.color233 : #aaaaff
URxvt.color234 : #00aa2a
URxvt.color235 : #7faaaa
URxvt.color236 : #2a0000
URxvt.color237 : #aa7f00
URxvt.color238 : #aa0055
URxvt.color239 : #007f2a
URxvt.color240 : #2a7f7f
URxvt.color241 : #ff007f
URxvt.color242 : #7f00ff
URxvt.color243 : #ffd400
URxvt.color244 : #2ad47f
URxvt.color245 : #d40055
URxvt.color246 : #aaaa55
URxvt.color247 : #00d4ff
URxvt.color248 : #2a2aff
URxvt.color249 : #d4aa00
URxvt.color250 : #552aff
URxvt.color251 : #002aaa
URxvt.color252 : #ff2ad4
URxvt.color253 : #2a55ff
URxvt.color254 : #ff552a
URxvt.color255 : #d4ff55








